<div class="main-container">
  <h3><strong>SpaceX Launch Programs</strong></h3><br />

  <div class="filters">
    <span><strong>Filters</strong></span><br />
    <button class="filter-headers">Launch Year</button><br />
    <button class="button-values" [ngClass]="{'active': yearInfo === requestData['launch_year']}" *ngFor="let yearInfo of filterYears"
      (click)="userInputFunc(yearInfo, 'launch_year')">{{yearInfo}}</button>
    <button class="filter-headers">Successful Launch</button><br />
    <button class="button-values" [ngClass]="{'active': launchInfo === requestData['launch_success']}" *ngFor="let launchInfo of filterBools"
      (click)="userInputFunc(launchInfo, 'launch_success')">{{launchInfo}}</button>
    <button class="filter-headers">Successful Landing</button><br />
    <button class="button-values" [ngClass]="{'active': landingInfo === requestData['land_success']}" *ngFor="let landingInfo of filterBools"
      (click)="userInputFunc(landingInfo, 'land_success')">{{landingInfo}}</button>
  </div>

  <div class="cards">
    <div *ngIf="msg === ''">
      <div class="space" *ngFor="let val of spaceData; let i = index">
        <div class="container">
          <div *ngIf="val.links.mission_patch_small === null" class="default-img"></div>
          <img *ngIf="val.links.mission_patch_small !== null" src={{val.links.mission_patch_small}} /><br />
          <span class="mission-name"><strong>{{val.mission_name}} #{{i+1}}</strong></span><br />
          <span *ngIf="val.mission_id.length !==0 ">
            <strong> Mission Ids: <br /></strong>
            <span>{{val.mission_id.join(',')}}</span><br />
          </span>
          <span><strong>Launch Year: </strong>{{val.launch_year}}</span><br />
          <span><strong>Successful Launch: </strong>{{val.launch_success}}</span><br />
          <span><strong>Successful Landing: </strong>{{val.rocket.first_stage.cores[0].land_success}}</span><br />
        </div>
      </div>
    </div>
    <div *ngIf="msg !== ''">
      <div class="error-msg">{{msg}}</div>
    </div>
  </div>

</div>